.alert {
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 8px 15px;
    position: relative;
    &:not(:last-child) {
        margin-bottom:1rem;
    }
    &.is-success {
        background-color: #23d160;
        color: #fff;
    }
    & > .delete {
        position: absolute;
        right: .5rem;
        top: .5rem;
    }
    &.is-info {
        background-color: #209cee;
        color: #fff;
    }
    &.is-warning {
        background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
    }
    &.is-danger {
        background-color: #ff3860;
        color: #fff;
    }
}

